click==8.1.7
exceptiongroup==1.2.1
Flask==2.2.5
importlib-metadata==6.7.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pluggy==1.2.0
pytest==7.4.4
tomli==2.0.1
torch==1.13.1
typing_extensions==4.7.1
Werkzeug==2.2.3
zipp==3.15.0
